#formulario-contacto{

    padding-top: 5%;
    padding-bottom: 5%;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#titulo-form {
    text-align: center;
}

/* Estilos del formulario */
.form-group {
    margin-bottom: 30px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px; 
}

#name,
#email,
textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #fda502;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #080801;
}

/* Estilos responsivos */
@media (max-width: 459px) {
    .container {
        padding: 10px;
    }

}