/*elementos*/
.btn-c {
  height: 60%;
  color: #000;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: #ffa600;
  border-color: #ffa600;
  text-transform: none;
  padding: 0;
  overflow: visible;
}

.btnAdd {
  width: 100%;
  height: 50%;
  font-size: 1.3em;
}

.btn-info{
  width: 100%;
  height: 100%;
  color: #ffa600;
  background-color: #000;
}

.btn-search {
  height: 70%;
  width: 12%;
}

.text-merchandise {
  color:#fff;
  filter:drop-shadow(black 2px 4px 6px);
  text-shadow: 0 0 1px #fff;
  font-size: 1.8em;
}

.img-merchandise {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: saturate(1.5);
}

#list {
  font-size: 1.25em;
  margin-bottom: 10px;
  font-size: 1.3em;
  font-weight: 600;
  margin: 0;
  color: #141414;
}

.flex-column {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}


/*sección*/
.section-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #ffffff;
}

.menu-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 90%;
  width: 95%;
  overflow: hidden;
  gap: 5px;
  margin-top: 3.5em;
  margin-bottom: 1em;
}


/*body*/
.list-merchandise {
  display: flex;
  flex-direction: column;
  height: min-content;
  overflow: hidden;
  border: 1px solid #ccc !important;
}

.body-merchandise {
  display: flex;
  justify-content: center;
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  flex-wrap: wrap;
  gap: 5px;
  background-color: #fff;
}

.letter-merchandise {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  padding: 0.5em;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
  height: 220px;
  width: 200px;
  ;
}

.slider-one{
  display: flex;
  justify-content: center;
  min-height: 70vh;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 1em;
  gap: 5px;
  background-color: #fff;
}

.body-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  font-size: 20px;
  margin: 2px 5px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
}
.left,
.right {
  height: 100%;
  display: flex;
  align-items: center;
  color: #000;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}



.public {
  display: flex;
  background-color: aqua;
  height: 20%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}

