.nav-top {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    color: #ffa600;
    background-color: #ffffff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items:center;
    position: relative;
    overflow: hidden;
    height: auto;
}

.nav-button {
    width: auto;
    border: none;
    outline: 0;
    height: 100%;
    
    
}

.nav-logo {
    position: relative;
    height: 100px;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0.5em;
    font-size: 2.5em;
    text-decoration: none;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-ul .nav-button {
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: wavy;
    color: inherit;
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
}

a:hover {
    outline: 0;
}

.nav-ul:hover {
    color: #ffa600;
    background-color: #ffffff;
}

.nav-button:hover {
    color: #000;
    background-color: #ffa600;
}




.nav-search {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.input-search {
    width: 45%;
    height: 60%;
    font-weight: bold;
    color: #000;
    font-size: 1.3em;
    font-family: inherit;
    line-height: inherit;
}

.btn-search {
    width: 12% !important;
}

.flex-columnn {
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    gap: 5px;
    background-color: rgba(0,0,0,.8);
    color:white;
    width: 80%;
    margin-top: 100px;
  }




@media (max-width: 459px) and (min-width: 30px) {
    /* Estilos para dispositivos móviles */
    .nav-search {
        justify-content: end;
        margin-right: 1em;
    }

    .btn-search {
        width: 20% !important;
    }

    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-between;
        overflow: visible;
        position: relative;
        height: auto;
    }

    .input-search {
        width: 70%;
        height: 60%;
        font-weight: bold;
        color: #000;
        font-size: 1.3em;
        font-family: inherit;
        line-height: inherit;
    }

    .nav-ul{

        padding-top: 20px;
        padding-bottom: 10px;
  }

    .nav-button{
        border-radius: 10px;
    }

    #bebidaRandom{

        margin-top: 100px;
        font-size: medium;
    }

    .section-mapa {
        display: flex;
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */
        height: auto;
        padding: 2em;
        background-color: #ffffff;
      }
      
      .mapa-container {

        flex-direction:row;
        
        
      }
      
      /* .body-mapa-container {
        display: block;
        border: 1px solid #ddd;
      } */
      
      .body-location-container {
        align-items: center;
        justify-content: center;
        
      }
}
