/*sección mapa*/
.section-mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 2em;
  overflow: hidden;
  background-color: #ffffff;
}

.mapa-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80%;
  width: 85%;
  overflow: hidden;
}

.body-mapa-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  overflow-y: auto;
  overflow-x: hidden;
}

.body-location-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img-ubi {
  height: 100%;
  overflow: hidden;
}

.opening-hours {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.opening-hours h2 {
  font-size: 2.5em;
  margin: 0;
}

.opening-hours p {
  font-size: 2em;
}

.hours-row {
  display: flex;
  justify-content: space-between;
}

.hours-col {
  flex-basis: calc(60% - 20px);
  color: #000;
}

.items {
  display: flex;
  justify-content: space-between;
}


/*sección Footer*/
.section-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffa600;
}

.section-footer .grupo-1 {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 1em;
}

.grupo-1 h2 {
  color: #fff;
  padding: 0.5em;
  font-size: 20px;
}

.grupo-1 .red-social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  background-color: #000;
  text-decoration: none;
  line-height: 50px;
  color: #fff;
  text-align: center;
}

.section-footer .grupo-2 {
  background-color: #000;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.section-footer .grupo-2 small {
  font-size: 15px;
}

.footer-logo {
  width: 100px;
  height: 50%;
  float: right;
  position: absolute;
  left: 0;
  margin: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-politics {
  display: inline-flex;
  list-style: none;
  padding: 0;
}

.footer-politics a {
  padding-right: 20px;
  padding-left: 20px;
  border-right: 1px solid;
  border-left: 1px solid;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}



/*sección home*/
.section-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.prev,
.next {
  position: absolute;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.prev {
  left: 2rem;
}

.next {
  right: 2rem;
}

.img-photo{
  height: 70%;
  filter: drop-shadow(2px 4px 6px black);
}

.body-home {
  width: 100%;
  height: 100%;
  top: 50px;
  background-size:cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: #fff;
}

.btn-home{
  
  padding: 0.5em 1.5em;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 5%;
  border: 2px solid #fff;
  color: #000;
  background-color: #ffa600;
  border-color: #ffa600;
  border-radius: 10px;
  width: 30%;
  text-align: center;
}

.btn-home:hover {
  color: #ffa600;
  background-color: #000;
}