/*sección mapa*/
.section-mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding: 1em;
  overflow: hidden;
  background-color: #ffffff;
}

.mapa-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  height: 80%;
  width: 85%;
  overflow: hidden;
}

.body-mapa-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 1px solid #ddd;
  overflow-y: auto;
  overflow-x: hidden;
}

.body-location-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.opening-hours {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1em;
}

.opening-hours h2 {
  font-size: 2.5em;
  margin: 0;
}

.opening-hours p {
  font-size: 2em;
}


/*sección Footer*/
.section-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffa600;
}

.section-footer .grupo-1 {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 1em;
}

.grupo-1 h2 {
  color: #fff;
  padding: 0.5em;
  font-size: 20px;
}

.grupo-1 .red-social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  background-color: #000;
  text-decoration: none;
  line-height: 50px;
  color: #fff;
  text-align: center;
}

.section-footer .grupo-2 {
  background-color: #000;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.section-footer .grupo-2 small {
  font-size: 15px;
}

.footer-logo {
  width: 100px;
  height: 50%;
  float: right;
  position: absolute;
  left: 0;
  margin: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-politics {
  display: inline-flex;
  list-style: none;
  padding: 0;
}

.footer-politics a {
  padding-right: 20px;
  padding-left: 20px;
  border-right: 1px solid;
  border-left: 1px solid;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}




/*seccion contact*/

.section-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.body-contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 100%;
  height: 95%;
  max-width: 800px;
}

.contact-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 100%;
  height: 100%;
}

#titulo-form {
  text-align: center;
  font-size: 2.5em;
  margin: 0;
  color: #fff;
}

.form-group {
  display: block;
  width: 90%;
  font-size: 1.6em;
  font-weight: bold;
  color: #fff;
}

#name,#email,textarea {
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  font-family: inherit;
  font-size: 1em;
  font-weight: bold;
}

#boton-subir{ 
  display: block;
  width: auto;
  text-align: center;
  background-color: #fda502;
  color: #fff;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.6em;
  font-weight: bold;
  border: none;
}

#boton-subir:hover {
  background-color: #fff;
  color: #000;
}



/*sección home*/
.section-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: 60px;
}

.body-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.body-home-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1em;
  overflow: hidden;
  margin: 1em;
}

.flex-columnn {
  margin-top: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  gap: 5px;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  width: 90%;
  overflow-y: auto;
  padding: 0.5em;
  font-size: 1.5em;
  max-width: 800px;
}

.btn-home{ 
  padding: 0.5em 1.5em;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #fff;
  color: #000;
  background-color: #ffa600;
  border-color: #ffa600;
  border-radius: 10px;
  width: 15%;
  text-align: center;
  font-size: 1.5em;
}

.btn-home:hover {
  color: #ffa600;
  background-color: #000;
}

.flex-columnn  p{
  color: white;
}

.flex-columnn  h1{
  color: white;
  margin: 0;
  font-size: 1.8em;
}

.flex-columnn  h2{
  color: white;
  margin: 0;
  font-size: 1.8em;
}





@media (max-width: 609px ){
.section-home {
  margin-top: 150px;
}
  .btn-home{
    font-size: 1.3em;
    width: 20%;
  }

  .flex-columnn {
    font-size: 1.2em;
  }

}

@media (max-width: 809px ){

  .mapa-container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 459px ){
  .mapa-container {
    height: 100%;
    width: 100%;
  }

}

